<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza rendelési űrlap</title>
</head>
<body>
    <h1>Pizza rendelési űrlap!</h1>

    <form method="post">
        <fieldset>
            <legend>Vevő adatai</legend>
            Név: <input type="text" name="name" required>
            Telefon: <input type="tel" name="phone" required><br>
        </fieldset>

        <fieldset>
            <legend>Pizza méret</legend>
            <input type="radio" name="size" value="kicsi" required> Kicsi
            <input type="radio" name="size" value="nagy"> Nagy
        </fieldset>

        <fieldset>
            <legend>Feltétek</legend>
            <input type="checkbox" name="toppings" value="sonka"> Sonka
            <input type="checkbox" name="toppings" value="sajt"> Sajt
            <input type="checkbox" name="toppings" value="gomba"> Gomba
        </fieldset>

        <fieldset>
            <legend>Mennyiség</legend>
            <input type="number" name="quantity" min="1" value="1" required>
        </fieldset>

        <fieldset>
            <legend>Kért szállítási idő</legend>
            <input type="time" name="delivery_time" required>
        </fieldset>

        <fieldset>
            <legend>Egyéb kívánságok</legend>
            <textarea name="comments" rows="3" cols="30"></textarea>
        </fieldset>

        <button type="reset">Visszaállítás</button>
        <button type="submit">Elküldés</button>
    </form>

    <a href="/">Vissza a főoldalra</a>
</body>
</html>
